* {
 margin: 0;
 padding: 0;
 font-family: Gilroy;
 box-sizing: border-box;
 color: white;
}
 
html, body {
 width: 100%;
 height: 100%
}

main {
  width: 100%;
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}

button {
  background: transparent;
  border: 1px solid #fff;
  font-size: 1.2rem;
  font-weight: 550;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
}

button:active {
  scale: .96;
}

.box {
  width: 300px;
  height: 300px;
  background: linear-gradient(to right, rgb(128, 6, 128), rgb(104, 6, 104));
  border-radius: 20%;
}